.todo-list {
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border-bottom: 0.05rem solid var(--clr-3);

    font-size: 0.75rem;
    line-height: 1em;
    font-weight: var(--fw-400);
    letter-spacing: 0.166667px;
    color: var(--clr-6);

    &__input {
      width: 1.2rem;
      height: 1.2rem;
      padding: 0;
      margin: 0;
    }

    input:checked + p {
      text-decoration: line-through;
      color: var(--clr-5);
    }

    &__content {
      width: 70%;
    }

    &__btn {
      background-color: transparent;
      border: 0;

      cursor: pointer;

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
