:root {
  --ff-primary: "Josefin Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --check-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --clr-1: hsl(220, 98%, 61%);
  --clr-2: hsl(0, 0%, 98%);
  --clr-3: hsl(236, 33%, 92%);
  --clr-4: hsl(233, 11%, 84%);
  --clr-5: hsl(236, 9%, 61%);
  --clr-6: hsl(235, 19%, 35%);
}
